.a{
    background-c
}
.img-fluid{
    width: 150px;
}
.d-flex{
    width: 125px;
    
}
.form-control{
    border-radius: 20px;
    color: #B192FF;
}
.navbar{
    padding-top: 20px;
}
.a1{
background-color: #8089FF;
}
.a2{
    color: white;
    font-weight: 700;
    font-size: 50px;
}
.a3{
    width: 109px;
    padding: 8px;
    padding-left: 17px;
    background-color: #43D79E;
    border-radius: 28px;
    border-color: #43D79E;
    color: white;
    font-weight: 600;
}
.a4{
    margin-left: -195px;
}
.a5{
    margin-top: -92px;
    margin-left: 92px;


}
.a6{
    width: 140px;
    padding: 8px;
    padding-left: 15px;
    background-color: #FF7E75;
    border-radius: 28px;
    border-color: #FF7E75;
    color: white;
    font-weight: 600;
}
.a8{
    width: 900px;
    margin-left: 170px;
    margin-top: -75px;
}
.a9{
    background-color: #FCFCFC;
}
.a10{
color: #7C85F8;
font-weight: 700;
}
.a11{
color: #58677B;
font-size: 20px;
}
.a12{
    width: 250px;
    height: 190px;
}
.a13{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 17px;
    margin-left: 50px;
}
.a14{
    background-color: #708198;
}
.a15{
    color: white;
    font-weight: 700;
}
.a16{
    color: white;
    font-size: 22px;
}
.w1{
    width: 390px;
}